.tournament {
  font-size: 12px;
  line-height: 14px;
}

.tournament div.clear {
  clear: both;
}

.tournament .bracket {
  padding-bottom: 20px;
}

.tournament ul.round {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
}

.tournament .match {
  width: 120px;
}

.tournament .match span {
  display: block;
}

.tournament .match .contestant {
  padding: 0 10px;
  display: block;
  height: 20px;
}

.tournament .match .contestant.last {
  border: solid black;
  border-width: 1px 1px 1px 0;
  margin-top: -2px;
  border-radius: 0 4px 4px 0;
}

.bracket-champion .round-2 .contestant.last {
  border-style: solid dashed dashed none;
  border-radius: 0 0 4px 0;
}

div.round .ctools-dropdown {
  position:absolute;
}
div.round .ctools-dropdown li {
  background-color:#efefef;
}
