#tourney-configuration .select-all {width:50px;}

.field-label{font-weight:bold;}

.tourney {
  overflow-x: auto;
}

.tourney.tourney-roundrobin {
  overflow-x: inherit;
}

.tourney .bracket {
  float: left;
}

.tourney a.match-link {
  color: inherit;
  text-decoration: none;
}

.tourney a.match-link:hover .contestant {
  background: #E8E8E8;
}

.seed {
  padding:0 5px 0 0;
  font-size:0.7em;
}
.match .label {
  font-size:0.7em;
}

.tourney .match {
  height: 4em;
  width: 100%;
  float: left;
  border: none;
  position: relative;
}

.hide-byes .match-bye {
  visibility: hidden;
}

.tourney .match-spacer.small {
  height: 2em;
}

.tourney .contestant {
  width: 75%;
  height: 50%;
  float: left;
  line-height: 200%;
  background: #E0E0E0;
  padding: 0 6%;
}

.tourney a.match-link .match .contestant:hover {
  background: #F0F0F0;
}

.tourney a.match-link .match .contestant.bracket-highlight {
  background: #ABAB2E;
  
}

.tourney a.match-link .match .contestant.bracket-highlight:hover {
  background: #BBBB3E;
}

.tourney .contestant.contestant-1 {
  border-radius: .5em .5em 0 0;
}

.tourney .contestant.contestant-2 {
  border-top: 1px solid #888;
  border-radius: 0 0 .5em .5em;
}

.tourney .contestant.contestant-spacer {
  visibility: hidden;
}

.tourney .match .flow {
  height: 100%;
  width: 15%;
  position: absolute;
  right: 0px;
  top: 0px;
}

.tourney .match .flow .flow-control {
  position: relative;
  height: 50%;
  width: 50%;
  border: 0 solid #888;
  z-index: 1;
}

.tourney .match .flow .flow-control.topleft {
  border-width: 0 1px 1px 0;
  border-radius: 0 0 .5em;
}

.tourney .match .flow .flow-control.bottomleft {
  top: 50%;
  border-width: 1px 1px 0 0;
  border-radius: 0 .5em 0;
  height: 50%;
}

.tourney .match .flow .flow-control.topright {
  left: 50%;
  border-width: 0 0 1px 1px;
}

.tourney .match .flow .flow-control.bottomright {
  left: 50%;
  border-width: 0 0 0 1px;
}

.tourney .match .flow .flow-control.evenright {
  border-width: 1px 0 0 1px;
  height: 100%;
  left: 50%;
}

.tourney .match .flow .flow-control.special.evenright {
  position: absolute;
  top: 0px;
  right: 1px;
  border-width: 1px 0 0;
  padding-left: 1px;
  height: 50%;
}

.tourney .match .flow .flow-control.special.bottom.evenright {
  bottom: -1px;
  top: auto;
  border-width: 0 0 1px;
}

.tourney .match .flow .flow-control.vertical {
  height: 100%;
  border-width: 0 1px 0 0;
}

.tourney .match .flow .flow-control.horizontal {
  width: 100%;
  border-width: 0 0 1px;
}


.tourney .match .flow.bracket-highlight .flow-control {
  border-color: #AAAA00;
  z-index: 2;
}

.tourney .match .flow.bracket-highlight .flow-control.topleft {
  border-width: 0 4px 4px 0;
}

.tourney .match .flow.bracket-highlight .flow-control.bottomleft {
  border-width: 4px 4px 0 0;
}

.tourney .match .flow.bracket-highlight .flow-control.topright {
  border-width: 0 0 4px 4px;
}

.tourney .match .flow.bracket-highlight .flow-control.bottomright {
  border-width: 0 0 0 4px;
}

.tourney .match .flow.bracket-highlight .flow-control.evenright {
  border-width: 4px 0 0 4px;
}

.tourney .match .flow.bracket-highlight .flow-control.special.evenright {
  border-width: 4px 0 0;
}

.tourney .match .flow.bracket-highlight .flow-control.special.bottom.evenright {
  border-width: 0 0 4px;
}

.tourney .match .flow.bracket-highlight .flow-control.vertical {
  border-width: 0 4px 0 0;
}

.tourney .match .flow.bracket-highlight .flow-control.horizontal {
  border-width: 0 0 4px;
}

.tourney-double .round-champion .flow.bracket-highlight .flow-control {
  border-style: dotted;
}



.tourney-single .round {
  width: 12em;
  float: left;
}



.tourney-double .bracket-bottom {
  clear: left;
}

.tourney-double .round-champion .flow .flow-control {
  border-style: dashed;
}

.tourney-double .round {
  width: 10em;
  float: left;
}


.tourney-roundrobin .match {
  width: 12em;
  height: auto;
}











#page .tourney .contestant {
  height: 21px;
  line-height: 21px;
}

#page .tourney .contestant-1 {
  margin-top: 5px;
}

.tourney .match .match-title {
  left: 0;
  position: absolute;
  text-align: center;
  top: -1.5em;
  width: 87%;
}

#page .tourney .contestant.winner {
  background: #F1F178;
}

















.tournament-bracket {

}